name: ceos-triangle
topology:
  nodes:
    ceos1:
      kind: ceos
      image: ceos-lab:4.35.1F
    ceos2:
      kind: ceos
      image: ceos-lab:4.35.1F
    ceos3:
      kind: ceos
      image: ceos-lab:4.35.1F

  links:
    - endpoints: ["ceos1:eth1", "ceos2:eth1"]
    - endpoints: ["ceos2:eth2", "ceos3:eth1"]
    - endpoints: ["ceos3:eth2", "ceos1:eth2"]