version: '3.8'

services:
  ceos1:
    image: ceosimage:latest
    container_name: ceos1
    privileged: true
    shm_size: '2gb'
    hostname: ceos1
    ulimits:
      memlock: -1
    devices:
      - "/dev/fuse:/dev/fuse"
      - "/dev/net/tun:/dev/net/tun"
    volumes:
      - /lib/modules:/lib/modules:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - ../../certs:/mnt/flash/certs:ro
    tmpfs:
      - /mnt/flash:rw,mode=777
    environment:
      # [핵심] 도커의 eth0 인터페이스를 EOS의 Management1 포트로 강제 매핑합니다.
      - MGMT_INTF=eth0        
      # [핵심] 가상 인터페이스 타입을 veth로 지정하여 AWS 커널과의 호환성을 높입니다.
      - INTF_TYPE=veth        
      # 부팅 시 하드웨어 인식 및 드라이버 설치 패치를 생략하지 않고 수행하도록 합니다. (0=수행)
      - SKIP_FW_INSTALL=0     
      # 인터페이스 생성 및 초기화 시퀀스를 활성화합니다.
      - ETBA=1
      # 해당 컨테이너가 cEOS 환경임을 명시합니다.
      - CEOS=1
      - container=docker
      # 실행 플랫폼을 ceoslab으로 지정하여 가상화 최적화를 적용합니다.
      - EOS_PLATFORM=ceoslab
      # CPU, RAM 등 할당된 모든 리소스를 EOS 커널이 인식하도록 합니다.
      - MAP_ALL_RESOURCES=1
    ports:
      - "8080:80"
      - "2221:22"
    networks:
      mgmt_net:
        ipv4_address: 172.20.0.11
    command: /sbin/init

  ceos2:
    image: ceosimage:latest
    container_name: ceos2
    privileged: true
    shm_size: '2gb'
    hostname: ceos2
    ulimits:
      memlock: -1
    devices:
      - "/dev/fuse:/dev/fuse"
      - "/dev/net/tun:/dev/net/tun"
    volumes:
      - /lib/modules:/lib/modules:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - ../../certs:/mnt/flash/certs:ro
    tmpfs:
      - /mnt/flash:rw,mode=777
    environment:
      - MGMT_INTF=eth0
      - INTF_TYPE=veth
      - SKIP_FW_INSTALL=0
      - ETBA=1
      - CEOS=1
      - container=docker
      - EOS_PLATFORM=ceoslab
      - MAP_ALL_RESOURCES=1
    ports:
      - "8082:80"
      - "2222:22"
    networks:
      mgmt_net:
        ipv4_address: 172.20.0.12
    command: /sbin/init

  ceos3:
    image: ceosimage:latest
    container_name: ceos3
    privileged: true
    shm_size: '2gb'
    hostname: ceos3
    ulimits:
      memlock: -1
    devices:
      - "/dev/fuse:/dev/fuse"
      - "/dev/net/tun:/dev/net/tun"
    volumes:
      - /lib/modules:/lib/modules:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - ../../certs:/mnt/flash/certs:ro
    tmpfs:
      - /mnt/flash:rw,mode=777
    environment:
      - MGMT_INTF=eth0
      - INTF_TYPE=veth
      - SKIP_FW_INSTALL=0
      - ETBA=1
      - CEOS=1
      - container=docker
      - EOS_PLATFORM=ceoslab
      - MAP_ALL_RESOURCES=1
    ports:
      - "8083:80"
      - "2223:22"
    networks:
      mgmt_net:
        ipv4_address: 172.20.0.13
    command: /sbin/init

networks:
  mgmt_net:
    name: mgmt_net
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24