# --- Ansible 관련 ---
*.retry
*.log
*.vault_pass
*.pem
*.key
*.ppk
credentials.yml
secrets.yml

# --- Python 관련 ---
__pycache__/
*.py[cod]
*$py.class

# --- OS & 에디터 관련 ---
.DS_Store
.vscode/
.idea/
*.swp

# --- 환경 설정 ---
.env

# --- 대용량 바이너리 및 이미지 (GitHub 용량 제한 방지) ---
*.tar.xz
*.xz
*.iso
*.bin
# 특정 대용량 파일 직접 지정
ubuntu@54.180.90.108
docker/images/

.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# SSH 키 파일 (절대 올리면 안 됨)
*.pem

# 테라폼 상태 및 설정 파일
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# AWS 설정 및 환경 변수
.aws/
credentials
.env

# 테라폼 실행 파일 (바이너리는 용량이 크고 OS마다 다르므로 제외 권장)
terraform.exe
terraform

#images 폴더 제외
images/

# Containerlab 실행 시 생성되는 폴더 무시
clab-*/
