# --- OS & Editors ---
.DS_Store
.vscode/
.idea/
*.swp
*.tmp

# --- Python ---
venv/
.env
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# --- Ansible ---
*.retry
*.log
*.vault_pass
*.pem
*.key
*.ppk
credentials.yml
secrets.yml
ansible_id_rsa*

# --- Network Lab (Containerlab & Arista) ---
# 자동 생성된 토폴로지 실행 폴더 및 장비별 설정 파일 제외
clab-*/
docker/ceos-lab/configs/*.cfg

# --- Docker & Monitoring Stack ---
# Zabbix/Postgres 실제 데이터 및 대용량 이미지 파일 제외
zbx_env/
docker/images/
images/
*.tar
*.tar.xz
*.xz
*.iso
*.bin

# --- Infrastructure as Code (Terraform) ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
terraform
terraform.exe

# --- Cloud & Credentials (AWS) ---
.aws/
credentials
aws_access_key_id
aws_secret_access_key

# .gitignore 파일 하단에 추가
ansible/inventory/group_vars/secrets.yml
