---
- name: Configure PIM-SM & IGMP
  hosts: ceos_routers
  gather_facts: false
  tasks:
    - name: Enable IP Multicast Routing
      arista.eos.eos_config:
        lines: "ip multicast-routing"

    - name: Configure PIM Sparse-Mode on Interfaces
      arista.eos.eos_config:
        lines: "ip pim sparse-mode"
        parents: "{{ item }}"
      loop: "{{ multicast_interfaces }}"

    - name: Set Static RP
      arista.eos.eos_config:
        lines: "ip pim rp-address {{ rp_address }}"