---
- name: Configure Underlay Network (IP & OSPF)
  hosts: ceos_routers
  gather_facts: false
  tasks:
    - name: Configure L3 Interfaces
      arista.eos.eos_l3_interfaces:
        config: "{{ l3_interfaces }}"

    - name: Configure OSPFv2
      arista.eos.eos_ospfv2:
        config:
          processes:
            - process_id: 1
              areas:
                - area_id: 0
                  networks:
                    - address: 0.0.0.0/0