- name: Generate Arista cEOS Startup Configs
  hosts: arista
  gather_facts: no
  connection: local

  tasks:
    - name: Ensure configs directory exists
      file:
        # playbook_dir(ansible/playbooks) 기준 상위 두 단계 이동 후 docker/ceos-lab/configs
        path: "{{ playbook_dir }}/../../docker/ceos-lab/configs"
        state: directory
        mode: 0755
      run_once: true

    - name: Render Jinja2 Template to Config Files
      template:
        # templates 폴더 위치 지정
        src: "{{ playbook_dir }}/../templates/ceos_base.j2"
        # 최종 생성될 파일 위치 지정
        dest: "{{ playbook_dir }}/../../docker/ceos-lab/configs/{{ inventory_hostname }}.cfg"