---
- name: Step 1. Underlay 인프라 자동화 (IP & OSPF)
  hosts: arista
  gather_facts: no

  tasks:
    - name: 1.1. 전역 L3 라우팅 활성화
      arista.eos.eos_config:
        lines: 
          - ip routing
          - service routing protocols model multi-agent

    - name: 1.2. Loopback0 설정
      arista.eos.eos_l3_interfaces:
        config:
          - name: Loopback0
            ipv4: [{ address: "{{ loopback_ip }}" }]

    - name: 1.3. 인터페이스 설정 (MTU 9214 포함)
      arista.eos.eos_config:
        lines:
          - no switchport
          - description {{ item.value.desc }}
          - ip address {{ item.value.ip }}
          - mtu 9214
          - no shutdown
        parents: "interface {{ item.key }}"
      loop: "{{ interfaces | dict2items }}"

    - name: 1.4. OSPF 구성
      arista.eos.eos_config:
        lines:
          - router-id {{ loopback_ip.split('/')[0] }}
          - network 0.0.0.0/0 area 0
        parents: router ospf 1