---
- name: Push SNMPv3 Configuration to Arista Switches
  hosts: arista
  gather_facts: no
  become: yes

  tasks:
    - name: Configure SNMPv3 Group and User
      arista.eos.eos_config:
        lines:
          - snmp-server view ALL_ACCESS iso included
          - snmp-server group snmpv3 v3 priv read ALL_ACCESS
          - "snmp-server user {{ snmp_user }} snmpv3 v3 auth sha {{ snmp_auth_pass }} priv aes {{ snmp_priv_pass }}"
        save_when: always  # 실행 후 running-config를 startup-config에 저장

    - name: Verify SNMP Status
      arista.eos.eos_command:
        commands:
          - show snmp
      register: snmp_status

    - name: Display SNMP Status
      debug:
        msg: "{{ snmp_status.stdout_lines[0] }}"