---
- name: Configure SNMP Settings on Arista
  hosts: arista
  gather_facts: no
  connection: network_cli
  
  vars:
    ansible_network_os: arista.eos.eos
    ansible_user: admin
    ansible_password: admin
    ansible_become: yes
    ansible_become_method: enable
    
    # [핵심] Paramiko 대신 설치한 Pylibssh를 강제로 사용
    ansible_network_cli_ssh_type: libssh
    
    # SSH 키 확인 무시 (표준 설정)
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

  tasks:
    - name: Configure SNMP User (AuthPriv)
      arista.eos.eos_config:
        lines:
          - snmp-server user V3USER V3GROUP v3 auth sha admin123 priv aes admin123
        save_when: modified
      throttle: 1