---
- name: Zabbix Monitoring Automation
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    # 컬렉션 표준 변수 (이걸 설정하면 모듈 내부 파라미터는 생략 가능합니다)
    ansible_zabbix_url: "http://localhost/api_jsonrpc.php"
    ansible_zabbix_user: "Admin"
    ansible_zabbix_password: "zabbix"
    ansible_zabbix_http_user: "Admin"
    ansible_zabbix_http_password: "zabbix"
    ansible_zabbix_validate_certs: false

  tasks:
    - name: Ensure Host Group 'Financial-NW-Group' exists
      community.zabbix.zabbix_group:
        host_groups: "Financial-NW-Group"
        state: present