---
- name: Zabbix API Auth and Create Group
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    # 8081 포트 사용 (기억하겠습니다!)
    zabbix_url: "http://localhost:8081/api_jsonrpc.php"
    zabbix_user: "Admin"
    zabbix_pass: "zabbix"

  tasks:
    - name: Get Auth Token
      uri:
        url: "{{ zabbix_url }}"
        method: POST
        body_format: json
        body:
          jsonrpc: "2.0"
          method: "user.login"
          params:
            username: "{{ zabbix_user }}"
            password: "{{ zabbix_pass }}"
          id: 1
          auth: null
      register: auth_response

    - name: Create Host Group via API
      uri:
        url: "{{ zabbix_url }}"
        method: POST
        body_format: json
        body:
          jsonrpc: "2.0"
          method: "hostgroup.create"
          params:
            name: "Financial-NW-Group"
          auth: "{{ auth_response.json.result }}"
          id: 2
      register: group_create_response
      failed_when: 
        - group_create_response.json.error is defined 
        - "'already exists' not in group_create_response.json.error.data"