---
- name: Zabbix Monitoring Automation
  hosts: localhost
  connection: local
  gather_facts: false
  
  tasks:
    - name: Ensure Host Group exists
      community.zabbix.zabbix_group:
        http_login_user: "Admin"      # Zabbix 기본 계정
        http_login_password: "zabbix" # Zabbix 기본 비번
        # Docker Compose에서 포트 80을 매핑했으므로 localhost로 접근 가능
        server_url: "http://localhost/api_jsonrpc.php" 
        host_groups: "Financial-NW-Group"
        state: present
      delegate_to: localhost