! Arista cEOS Bootstrap Configuration (NextSecurities Project)
hostname {{ inventory_hostname }}
!
! 장비 로컬 계정 설정 (Ansible 접속용)
username {{ ansible_user }} secret {{ ansible_password }} privilege 15
!
! 루트 계정 보안 설정
no aaa root
!
! 라우팅 모델 설정 (Arista 권장사양)
service routing protocols model multi-agent
!
! 전역 L3 라우팅 활성화
ip routing
!
! Management API 및 SSH 접속 활성화
management api http-commands
   no shutdown
   !
   vrf default
      no shutdown
!
end