name: ceos-triangle

mgmt:
  network: clab
  ipv4-subnet: 172.20.20.0/24

topology:
  nodes:
    ceos1:
      kind: ceos
      image: ceos-lab:4.35.1F
      mgmt-ipv4: 172.20.20.11
      startup-config: ./configs/ceos1.cfg
      env:
        INTFTYPE: eth
        ETBA: 1
        SKIP_REBOOT: 1
      binds:
        - ~/.ssh/ansible_id_rsa.pub:/home/admin/.ssh/authorized_keys

    ceos2:
      kind: ceos
      image: ceos-lab:4.35.1F
      mgmt-ipv4: 172.20.20.12
      startup-config: ./configs/ceos2.cfg
      env:
        INTFTYPE: eth
        ETBA: 1
        SKIP_REBOOT: 1
      binds:
        - ~/.ssh/ansible_id_rsa.pub:/home/admin/.ssh/authorized_keys

    ceos3:
      kind: ceos
      image: ceos-lab:4.35.1F
      mgmt-ipv4: 172.20.20.13
      startup-config: ./configs/ceos3.cfg
      env:
        INTFTYPE: eth
        ETBA: 1
        SKIP_REBOOT: 1
      binds:
        - ~/.ssh/ansible_id_rsa.pub:/home/admin/.ssh/authorized_keys
      
    br-cloud:
      kind: bridge
    br-internal:
      kind: bridge

  links:
    - endpoints: ["ceos1:eth1", "ceos2:eth1"] # 10.1.12.0/30 대역 (기존과 동일)
    
    # 교정된 부분: ceos1(Et2)은 ceos3(Et1)과 만나야 10.1.13.0/30 대역이 성립됩니다.
    - endpoints: ["ceos1:eth2", "ceos3:eth1"]
    
    # 교정된 부분: ceos2(Et2)는 ceos3(Et2)와 만나야 10.1.23.0/30 대역이 성립됩니다.
    - endpoints: ["ceos2:eth2", "ceos3:eth2"]

    - endpoints: ["ceos1:eth3", "br-cloud:p1-c"]
    - endpoints: ["ceos2:eth3", "br-cloud:p2-c"]
    - endpoints: ["ceos3:eth3", "br-internal:p1-i"]